.game-container {
  border-radius: 5px;
  padding: 15px;
  width: 300px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  gap: 30px;
  color: var(--color-text);
  transition: transform 0.3s ease;
}

.genre-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  font-size: 24px;
  padding: 2rem;
}

.genre-list__li {
  text-decoration: none;
  list-style: none;
  color: var(--background-color);
}

.genre-list__li:hover {
  color: var(--color-text);
}

.game-container h2 {
  text-transform: uppercase;
}

.game-container:hover {
  transform: scale(1.1);
}

.game-container h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.game-container img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.game-container p {
  margin-bottom: 5px;
}

.app-container {
  margin: 8rem;
}

.games-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 15px;
  overflow: hidden;
  justify-items: center;
}

.app-container h1 {
  color: var(--color-text);
  text-align: center;
}

#buscador {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(215, 64, 64);
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#buscador h1 {
  color: var(--color-text);
  font-size: 30px;
  text-align: center;
}

#buscador input {
  width: 50%;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

.free {
  color: var(--color-primary);
}

/* Game By Id */

.gameId-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-details {
  text-align: left;
  margin-left: 20px;
}
.game-image {
  margin-top: 20px;
}

.game-image img {
  max-width: 80%;
  height: auto;
  margin: 0 auto;
}

.back-button {
  display: flex;
  justify-content: left;
  bottom: 0;
  align-items: center;
  position: fixed;
  border-radius: 30px;
  color: var(--color-text);
  background-color: var(--background-color);
  text-decoration: none;
  list-style: none;
  padding: 1rem;
  margin: 1rem;
  z-index: 1000;
}
