@import url("https://fonts.googleapis.com/css2?family=Jersey+10&family=Kode+Mono:wght@400..700&display=swap");

@font-face {
  font-family: "Kode Mono";
  src: url("./assets//Kode_Mono/KodeMono-VariableFont_wght.ttf");
}

:root {
  --color-primary: #1a1a1a;
  --color-text: white;
  --background-color: rgb(215, 64, 64);
}

html {
  background-color: var(--color-primary);
  color: var(--color-text);
  font-family: "Kode Mono";
}

li {
  color: var(--color-text);
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
